{erl_opts, [debug_info]}.

{escript_name, rds}.
{escript_emu_args, "%%! +pc unicode -escript main rebar_dependency_submission\n"}.

{project_plugins, [
    {erlfmt, "1.7.0"},
    rebar3_auto
]}.

{deps, [
    certifi,
    {getopt, "1.0.2"},
    %% Can't use the hex version because rebar pulls in its optional Elixir only
    %% dependency
    % {purl, "0.3.0"}
    {purl, {git, "git@github.com:erlef/purl.git", {tag, "v0.3.0"}}}
]}.

{profiles, [
    {test, [
        {deps, []}
    ]}
]}.
