{erl_opts, [debug_info]}.

{escript_name, rebar_dependency_submission}.
{escript_emu_args, "%%! +pc unicode -escript main rebar_dependency_submission\n"}.

{project_plugins, [
    {erlfmt, "1.7.0"}
]}.

{deps, [
    certifi,
    {getopt, "1.0.2"},
    %% Can't use the hex version because rebar pulls in its optional Elixir only
    %% dependency
    % {purl, "0.3.0"}
    {purl, {git, "git@github.com:erlef/purl.git", {tag, "v0.3.0"}}}
]}.

{profiles, [
    {example, [
        {deps, [
            brod,
            {rebar,
                {git_subdir, "git@github.com:erlang/rebar3.git", {branch, "main"}, "apps/rebar"}},
            {merlin, {pkg, kivra_merlin}}
        ]}
    ]},
    {test, [
        {deps, [
            {eqwalizer_support,
                {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
                    "eqwalizer_support"}}
        ]}
    ]}
]}.
